body {
    background: rgb(66, 75, 197);
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(194, 186, 199, 0.596);
}

